---
import { useTranslation } from '@/features/i18n/useTranslation';
import { RegisterEntry, registerFootnote } from '@/components/Footnotes/footnotesRegister';

export interface Props {
  id: string
}

const { id } = Astro.props;
const t = useTranslation(Astro);

const content = await Astro.slots.render('default');
const hasContent = (content && content.length > 5);

const entry: RegisterEntry = {
  id,
  content: hasContent ? content : undefined,
};

const pageId = Astro.url.pathname;
const entryNumber = registerFootnote(pageId, entry);
const refId = `footnotes-ref-${entryNumber}`;
const itemId = `footnotes-${entryNumber}`

const shouldRenderLink = !hasContent;
---
{shouldRenderLink ? (
  <sup><a id={refId} href={`#${itemId}`} aria-describedby="footnotes__label">[{entryNumber}]</a></sup>
) : (
  <li class="footnotes__item" id={itemId}>
    <Fragment set:html={content} />
    <a class="footnotes__backref" href={`#${refId}`} aria-label={t('footnoteBack')}>↩</a>
  </li>
)}