---
import clsx from 'clsx';
import { useTranslation } from '@/features/i18n/useTranslation';
import { RegisterEntry, registerFootnote } from '@/components/Footnotes/footnotesRegister';

export interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;
const t = useTranslation(Astro);

const pageId = Astro.url.pathname;
const entry: RegisterEntry = { id };
const entryNumber = registerFootnote(pageId, entry);
const refId = `note-ref-${entryNumber}`;
const itemId = `note-${entryNumber}`

const hasContent = Astro.slots.has('default');
const shouldRenderLink = !hasContent;
---
{shouldRenderLink ? (
  <sup class={clsx('footnotes__ref', className)}><a id={refId} href={`#${itemId}`} aria-describedby="footnotes__label">{entryNumber}</a></sup>
) : (
  <li id={itemId}>
    <slot />
    <a href={`#${refId}`} aria-label={t('footnoteBack')}>↗</a>
  </li>
)}